{% extends "base.html" %}

{% block content %}
  <div class="container" style="margin-top: 40px;">
    <h2>Login</h2>
    <br>

    <!-- server error message -->
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-danger">{{ message }}</div>
      {% endfor %}
    {% endif %}
    
    <!-- username -->
    <form method="post" class="form-signin">
      {% csrf_token %}
      <div class="form-group">
        {{ form.username.label_tag }}</label><br>
        {{ form.username }}
      </div>
      <br>
      <!-- password -->
      <div class="form-group">
        {{ form.password.label_tag }}</label><br>
        {{ form.password }}
      </div>
      <br>
      <!-- "login" button -->
      <button class="btn btn-primary" type="submit">Login</button>
    </form>
  </div>
{% endblock %}
